.movie-details {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
}

.details {
  color: gray;
  border: 2px solid;
  padding: 1.2rem;
  margin: 1.2rem;
  text-align: left ;
  text-decoration: wavy;

}
p{
  margin: 1.1rem;
}
h2{
  width: auto;
  padding: 1.2rem;
  margin: 1.2rem;
  text-align: center ;
  color: white;
  border: 2px solid;
}