.navbar{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.search-bar{
    outline: none;
    border: none;
    background: none;

    background-color: #182634;
    color: #eee;
}